<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
      <div class="row">
          <!-- Левый вспомогательный блок -->
          <div class="col-md-3 mb-3 mt-1">
              <div class="card">
                  <div class="card-body">
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                              <div class="h3">
                                  Об авторе этого замечательного сайта
                              </div>
                          </li>
                          <li class="list-group-item">
                              <div class="h6 text-muted">
                                Да и автор тоже замечательный человек
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <!-- Тело страницы -->
          <div class="col-md-9">
              <div class="card-body">
                  <div class="card-text">
                      <p>Меня зовут Логунов Данила. Учусь на технической специальности, наполовину связанной с программированием.
                          Если быть точнее, то с автоматизацией технических процессов.</p><p> Ну это те люди, к которым приходят другие люди и говорят:
                                  "Я хочу чтобы на кнопочку и чтобы всё работало так, как я этого хочу""</p>
                      <p>Почему я решил заняться веб разработкой? Программисты имеют приличные зарплаты (200к/сек, например), много свободного времени
                          в связи с дистанционным обучением, да и просто желание попробовать что-то новое</p>
                      <p>Во время моего нелёгкого путешествия в мир программирования меня поддерживала моя любимая кошка по кличке Соня</p>
                      <p>А, вот мой <a href="https://github.com/Kedow132"> гитхаб</a></p>

                  </div>
              </div>
          </div>
      </div>
  </main>
{% endblock %}