{% extends "base.html" %}
{% block title %} Ваши подписки {% endblock %}

{% block content %}
 <div class="container">
      {% include "includes/menu.html" with follow=True %}
           <h1> Последние обновления любимых авторов</h1>
            <!-- Вывод ленты записей -->
                {% for post in page %}
                  <!-- Вот он, новый include! -->
                    {% include "includes/post_item.html" with post=post %}
                {% endfor %}
    </div>

        <!-- Вывод паджинатора -->
        {% if page.has_other_pages %}
            {% include "includes/paginator.html" with items=page paginator=paginator%}
        {% endif %}

{% endblock %}